/* HTML tags*/
body {
    background-color: white;
    color: black;
    font-family: arial, helvetica, verdana;
}

.header1Div {
    background: url('./images/home-background.jpg');
    padding-bottom: 2em;
    /*margin: 0 1em 0 1em;*/
}

h1 {
    padding: .75em 2em .75em 2em;
    border-bottom: 0;
    text-align: center;
    font-size: 300%;
    margin: 0;
}

a {
    text-decoration: none;
    color: darkcyan;
    &:visited: {
        color: darkcyan;
    }
}

p.subheader,
p.linkButton {
    text-align: center;
    font-size: 120%;
    margin-top: 2em;
}

p.linkButton a {
    padding: 1em;
    background-color: darkcyan;
    color: white;
}

a:hover,
p.linkButton a:hover {
    background-color: #9dc00e;
    color: white;
}

h1,
h2,
h3,
h4 {
    font-weight: bold;
    border-bottom: 0;
    color: darkcyan;
}

aside {
    width: 30%;
    float: right;
    border: 1px solid darkcyan;
    border-style: solid;
    padding: 0em 1em 0em 1em;
    white-space: nowrap;
    border-radius: 8px;
}

aside section header {
    border-style: none none solid none;
    border-width: 1px;
    border-color: darkcyan;
}

aside section header,
aside section ul {
    margin: .5em;
}

fieldset {
    margin: 0 1em 0 1em !important;
}

code {
    color: red;
}
pre {
    padding-top: 1em;
    padding-left: 4em;
}
p {
    margin: .5em;
}

ul {
    margin-top: .25em;
    margin-bottom: .5em;
}
li {
    margin-bottom: .25em;
}

/* Tables */
table.comparison {
    border-collapse: collapse;
    border-style: solid;
}
table.comparison,
table.comparison th,
table.comparison td {
    border: 1px solid black;
}
table.comparison {
    background-color: white;
}
table.comparison tbody tr:nth-child(odd)  {
    background-color: #f4f4f4;
}
table.comparison tbody tr:hover {
    background-color: #ddd;
}
table.comparison th,
table.comparison td {
    padding: .5em;
}

/* Container */
#container {
    margin: .5em;
    padding: .5em;
    background-color: #afe0e0;
}

/* pre classes */
pre.console {
    background-color: darkcyan;
    color: white;
}
pre.js {
    background-color: blue;
    color: white;
}
pre.syntax {
    background-color: #eeffcc;
    color: black;
}

/* Changes */
.changes-date {
    color: darkseagreen;
    font-size: 60%;
}

/* Menu */
nav.menu {
    background-color: darkcyan;
    text-align: center;
    /*margin: 0 1em 0 1em;*/
}

nav.menu ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu ul li {
    display: inline-block;
    margin-bottom: 0;
}

nav.menu ul li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    border-bottom: 5px solid darkcyan;
}

nav.menu ul li a.selected {
    border-bottom: 5px solid #9dc00e;
    color: #cfec58;
}

nav.menu ul li a:hover {
    background-color: #9dc00e;
    color: white;
}

nav.menu ul.leftPart li {
    margin: 0 4em 0 4em;
    font-weight: bold;
}

nav.menu div.centerPart {
    text-align: center;
    display: contents;
}

nav.menu div.centerPart ul {
    display: inline-block;
}

nav.menu ul.leftPart {
    float: left;
}

nav.menu ul.rightPart {
    float: right;
    font-weight: bold;
}

nav.menu span.rightPart {
    color: white;
    float: right;
}

footer {
    margin-top: 2em;
    text-align: center;
}

footer .smallerFooter {
    font-size: 80%;
}
